.mainContentDiv {
    width: 75%;
    margin: auto;

    margin-top: 20px;

    border: 2px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 2px gray;

    padding: 10px 10px 10px 10px;
}